@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
}

svg {
  display: inline-block;
  vertical-align: top;
}
@layer base {
  h1 {
    @apply font-bold;
    @apply text-xl;
    margin: 6px 0 6px 10px;
    display: inline-block;
    vertical-align: top;
  }
  section {
    @apply text-lg;
    @apply px-4;
    @apply py-3;
    color: #333;
  }
  section h1, section h2, section h3 {
    @apply mx-0;
    @apply mb-3;
    @apply block;
  }
  section h1 {
    @apply font-bold;
    @apply text-3xl;
    @apply leading-none;
  }
}
section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

button {
  font-family: inherit;
}

.katex-display > .katex {
  text-align: left !important;
}