body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

section {
  font-size: 14px;
  line-height: 24px;
  padding: 18px 20px;
  max-width: 800px;
  color: #333;
}
section h1, section h2, section h3 {
  margin: 0 0 10px;
  display: inline-block;
  vertical-align: top;
}
section h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

button {
  font-family: inherit;
}